
</br>
</br>
</br>
	<h1 class="label span8 offset3 text-center"> Welcome to </h1>
		

<div class="custom-font boxy text-center">


	<%=image_tag("RUBICON LOGO.png", alt:"RubiconMD Logo	", :class=> 'span7 offset3')%>
	</br>
	</br>
	</br>
	</br>	

	
</div>
		<h2 class="label-small span7 offset3 text-center">
		<%= link_to 'Learn more', :class => 'btn btn-primary btn-large text-center' %>

		<%= link_to 'Sign up', :class => 'btn btn-primary btn-large text-center' %>

		<%= link_to 'Log in', :class => 'btn btn-primary btn-large text-center' %>
		</h2>